<h1>"El  registro  fue  almacenado  con éxito!" </h1>
<br>
<br>

<p><%= @sale[:cod] %></p>
<p><%= @sale[:detail] %></p>
<p><%= @sale[:category] %></p>
<p><%= @sale[:value]  %></p>
<p><%= @sale[:discount] %></p>
<p><%= @sale[:tax] %></p>
